<!DOCTYPE html>
<html lang="ru">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title>Контакты - Южная служба новостей</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/def.css" media="all" />
    <link rel="stylesheet" type="text/css" href="css/main.css" media="all" />
    <script type="text/javascript" src="js/jquery.js"></script>
    <!--cookies toast styles-->
    <style id="ctcc-css" type="text/css" media="screen">
        #catapult-cookie-bar {
            box-sizing: border-box;
            max-height: 0;
            opacity: 0;
            z-index: 99999;
            overflow: hidden;
            color: #ddd;
            position: fixed;
            left: 20px;
            bottom: 6%;
            width: 300px;
            background-color: #464646;
        }

        #catapult-cookie-bar a {
            color: #fff;
        }

        #catapult-cookie-bar .x_close span {
            background-color: ;
        }

        button#catapultCookie {
            background: ;
            color: ;
            border: 0;
            padding: 6px 9px;
            border-radius: 3px;
        }

        #catapult-cookie-bar h3 {
            color: #ddd;
        }

        .has-cookie-bar #catapult-cookie-bar {
            opacity: 1;
            max-height: 999px;
            min-height: 30px;
        }
    </style>
</head>

<body
    class="home blog blog-post-transparent-header-disable blog-small-page-width blog-enable-images-animations blog-enable-sticky-sidebar blog-enable-sticky-header blog-style-corners-rounded">
    <div class="header-menu-bg menu_white header-menu-uppercase" role="navigation">
        <div class="header-menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div class="menu-top-menu-container-toggle" aria-label="Toggle menu"></div>
                        <div class="menu-top-menu-container">
                            <ul id="menu-top-menu-1" class="links">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">О нас</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Контакты</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <a target="_blank" href="#">Вход</a>
                                </li>
                                <li class="icon-email menu-item menu-item-type-custom menu-item-object-custom">
                                    <a target="_blank" href="#">Подписка</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right-socials header-right col-md-2">
                        <div class="social-icons-wrapper">
                            <a href="#" target="_blank" class="a-vk">
                                <i class="fa fa-vk"></i>
                            </a>
                            <a href="#" target="_blank" class="a-odnoklassniki">
                                <i class="fa fa-odnoklassniki"></i>
                            </a>
                            <a href="#" target="_blank" class="a-facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" target="_blank" class="a-twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" target="_blank" class="a-instagram">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- menu-->
    <header class="main-header clearfix sticky-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-left">
                        <div class="mainmenu-mobile-toggle" aria-label="Toggle menu"><i class="fa fa-bars"
                                aria-hidden="true"></i></div>
                        <div class="logo">
                            <a class="logo-link" href="/">
                                <img srcset="img/logo_2x.png 2x" src="img/logo.png" alt="южная служба новостей лого"
                                    class="regular-logo">
                            </a>
                        </div>
                    </div>
                    <div class="header-center">
                        <div class="mainmenu mainmenu-none mainmenu-regularfont mainmenu-noarrow clearfix"
                            role="navigation">
                            <div id="navbar" class="navbar navbar-default clearfix mgt-mega-menu">
                                <div class="navbar-inner">
                                    <div class="container">
                                        <div class="navbar-toggle btn btn-grey" data-toggle="collapse"
                                            data-target=".collapse">
                                            Menu
                                        </div>
                                        <div class="navbar-center-wrapper">
                                            <div class="navbar-collapse collapse">
                                                <ul id="menu-main-menu-2" class="nav">
                                                    <li id="mgt-menu-item-104"
                                                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home current-menu-ancestor menu-item-has-children">
                                                        <a href="#">Главная</a>
                                                    </li>
                                                    <li id="mgt-menu-item-105"
                                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                                        <a href="#">Рубрики</a>
                                                        <ul class="sub-menu  megamenu-column-1 level-0">
                                                            <li id="mgt-menu-item-443"
                                                                class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                <a href="#">Власть</a>
                                                            </li>
                                                            <li id="mgt-menu-item-444"
                                                                class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                <a href="#">Политика</a>
                                                            </li>
                                                            <li id="mgt-menu-item-455"
                                                                class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                <a href="#">Экономика</a>
                                                            </li>
                                                            <li id="mgt-menu-item-455"
                                                                class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                <a href="#">Происшествия</a>
                                                            </li>
                                                            <li id="mgt-menu-item-455"
                                                                class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                <a href="#">Криминал</a>
                                                            </li>
                                                            <li id="mgt-menu-item-455"
                                                                class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                <a href="#">Общество</a>
                                                            </li>
                                                            <li id="mgt-menu-item-455"
                                                                class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                <a href="#">Культура</a>
                                                            </li>
                                                            <li id="mgt-menu-item-455"
                                                                class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                <a href="#">Спорт</a>
                                                            </li>
                                                            <li id="mgt-menu-item-455"
                                                                class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                <a href="#">Наука</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li id="mgt-menu-item-105"
                                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                                        <a href="#">Регионы</a>
                                                        <ul class="sub-menu  megamenu-column-1 level-0">
                                                            <li id="mgt-menu-item-443"
                                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                                                <a href="#">ЮФО</a>
                                                                <ul class="sub-menu  level-1">
                                                                    <li id="mgt-menu-item-536"
                                                                        class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                        <a href="#">Адыгея</a></li>
                                                                    <li id="mgt-menu-item-535"
                                                                        class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                        <a href="#">Астраханская область</a></li>
                                                                    <li id="mgt-menu-item-532"
                                                                        class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                        <a href="#">Волгоградская область</a></li>
                                                                    <li id="mgt-menu-item-537"
                                                                        class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                        <a href="#">Калмыкия</a></li>
                                                                    <li id="mgt-menu-item-533"
                                                                        class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                        <a href="#">Краснодарский край</a></li>
                                                                    <li id="mgt-menu-item-571"
                                                                        class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                        <a href="#">Крым</a></li>
                                                                    <li id="mgt-menu-item-816"
                                                                        class="menu-item menu-item-type-post_type menu-item-object-post">
                                                                        <a href="#">Ростовская область</a></li>
                                                                    <li id="mgt-menu-item-449"
                                                                        class="menu-item menu-item-type-post_type menu-item-object-post">
                                                                        <a href="#">Севастополь</a></li>
                                                                </ul>
                                                            </li>
                                                            <li id="mgt-menu-item-444"
                                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                                                <a href="#">СКФО</a>
                                                                <ul class="sub-menu  level-1">
                                                                    <li id="mgt-menu-item-445"
                                                                        class="menu-item menu-item-type-post_type menu-item-object-page">
                                                                        <a href="#">Дагестан</a></li>
                                                                    <li id="mgt-menu-item-446"
                                                                        class="menu-item menu-item-type-post_type menu-item-object-page">
                                                                        <a href="#">Ингушетия</a></li>
                                                                    <li id="mgt-menu-item-447"
                                                                        class="menu-item menu-item-type-post_type menu-item-object-page">
                                                                        <a href="#">Кабардино-Балкария</a></li>
                                                                    <li id="mgt-menu-item-448"
                                                                        class="menu-item menu-item-type-post_type menu-item-object-page">
                                                                        <a href="#">Карачаево-Черкесия</a></li>
                                                                    <li id="mgt-menu-item-484"
                                                                        class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                        <a href="#">Северная Осетия</a></li>
                                                                    <li id="mgt-menu-item-483"
                                                                        class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                        <a href="#">Ставропольский край</a></li>
                                                                    <li id="mgt-menu-item-483"
                                                                        class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                        <a href="#">Чечня</a></li>
                                                                </ul>
                                                            </li>
                                                            <li id="mgt-menu-item-455"
                                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                                                <a href="#">Страны</a>
                                                                <ul class="sub-menu  level-1">
                                                                    <li id="mgt-menu-item-460"
                                                                        class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                        <a href="#">Абхазия</a></li>
                                                                    <li id="mgt-menu-item-461"
                                                                        class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                        <a href="#">Азербайджан</a></li>
                                                                    <li id="mgt-menu-item-456"
                                                                        class="menu-item menu-item-type-custom menu-item-object-custom">
                                                                        <a href="#">Южная Осетия</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li id="mgt-menu-item-106"
                                                        class="menu-item menu-item-type-taxonomy menu-item-object-category mgt-menu-fullwidth-inside menu-item-multicolumn menu-item-has-children">
                                                        <a href="#">
                                                            Новости
                                                            <sup style="background-color: #db564f"
                                                                style="background-color: #db564f">Hot</sup>
                                                        </a>
                                                        <ul
                                                            class="sub-menu sidebar sidebar-inside  megamenu-column-1 mgt-menu-fullwidth level-0">
                                                            <li id="saxon-list-posts-6"
                                                                class="widget widget_saxon_list_entries">
                                                                <h2 class="widgettitle">Новости</h2>
                                                                <ul>
                                                                    <li class="template-postsmasonry1-2">
                                                                        <div class="saxon-postsmasonry1-post saxon-postsmasonry1_2-post saxon-post format- aos-init aos-animate"
                                                                            data-aos="fade-up">
                                                                            <div class="saxon-post-image-wrapper"><a
                                                                                    href="#">
                                                                                    <div class="saxon-post-image"
                                                                                        style="background-image: url(http://wp.wp-preview.com/saxon/saxon-3/wp-content/uploads/2018/11/saxon-003-005-1140x694.jpg);"
                                                                                        style="background-image: url(http://wp.wp-preview.com/saxon/saxon-3/wp-content/uploads/2018/11/saxon-003-005-1140x694.jpg);">
                                                                                    </div>
                                                                                </a>
                                                                            </div>
                                                                            <div class="saxon-post-details">
                                                                                <h3 class="post-title"><a href="#">Julian
                                                                                        Assange charged in US, court
                                                                                        document
                                                                                        accidentally reveals</a></h3>
                                                                                <div class="post-date">26 октября 2018
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li class="template-postsmasonry1-2">
                                                                        <div class="saxon-postsmasonry1-post saxon-postsmasonry1_2-post saxon-post format- aos-init aos-animate"
                                                                            data-aos="fade-up">
                                                                            <div class="saxon-post-image-wrapper"><a
                                                                                    href="#">
                                                                                    <div class="saxon-post-image"
                                                                                        style="background-image: url(http://wp.wp-preview.com/saxon/saxon-3/wp-content/uploads/2018/11/saxon-003-015-1140x694.jpg);"
                                                                                        style="background-image: url(http://wp.wp-preview.com/saxon/saxon-3/wp-content/uploads/2018/11/saxon-003-015-1140x694.jpg);">
                                                                                    </div>
                                                                                </a>
                                                                            </div>
                                                                            <div class="saxon-post-details">
                                                                                <h3 class="post-title"><a href="#">How
                                                                                        to explore the Republic of
                                                                                        Ireland, guided
                                                                                        entirely by local advice</a>
                                                                                </h3>
                                                                                <div class="post-date">26 октября 2018
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li class="template-postsmasonry1-2">
                                                                        <div class="saxon-postsmasonry1-post saxon-postsmasonry1_2-post saxon-post format-video aos-init aos-animate"
                                                                            data-aos="fade-up">
                                                                            <div class="saxon-post-image-wrapper"><a
                                                                                    href="#">
                                                                                    <div class="saxon-post-image"
                                                                                        style="background-image: url(http://wp.wp-preview.com/saxon/saxon-3/wp-content/uploads/2018/11/saxon-003-002-1140x694.jpg);"
                                                                                        style="background-image: url(http://wp.wp-preview.com/saxon/saxon-3/wp-content/uploads/2018/11/saxon-003-002-1140x694.jpg);">
                                                                                    </div>
                                                                                </a>
                                                                            </div>
                                                                            <div class="saxon-post-details">
                                                                                <h3 class="post-title"><a href="#">Next
                                                                                        Stop for Democrats: 2020</a>
                                                                                </h3>
                                                                                <div class="post-date">26 октября 2018
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li class="template-postsmasonry1-2">
                                                                        <div class="saxon-postsmasonry1-post saxon-postsmasonry1_2-post saxon-post format- aos-init aos-animate"
                                                                            data-aos="fade-up">
                                                                            <div class="saxon-post-image-wrapper"><a
                                                                                    href="#">
                                                                                    <div class="saxon-post-image"
                                                                                        style="background-image: url(http://wp.wp-preview.com/saxon/saxon-3/wp-content/uploads/2018/11/saxon-003-011-1140x694.jpg);"
                                                                                        style="background-image: url(http://wp.wp-preview.com/saxon/saxon-3/wp-content/uploads/2018/11/saxon-003-011-1140x694.jpg);">
                                                                                    </div>
                                                                                </a>
                                                                            </div>
                                                                            <div class="saxon-post-details">
                                                                                <h3 class="post-title"><a href="#">Recount
                                                                                        Ordered in Florida Senate Race
                                                                                        as Governor’s
                                                                                        Contest Nears End</a></h3>
                                                                                <div class="post-date">26 октября 2018
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li id="mgt-menu-item-326"
                                                        class="menu-item menu-item-type-post_type menu-item-object-page">
                                                        <a href="#">Спецпроекты</a>
                                                    </li>
                                                    <li id="mgt-menu-item-325"
                                                        class="menu-item menu-item-type-post_type menu-item-object-page">
                                                        <a href="#">Колумнистика</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-right">
                        <div class="search-toggle-wrapper search-header">
                            <form method="get" role="search" id="searchform_p" class="searchform" action="">
                                <input type="search" aria-label="Search" class="field" name="s" value="" id="s_p"
                                    placeholder="Type keyword(s) here…">
                                <input type="submit" class="submit btn" id="searchsubmit_p" value="Search">
                            </form>
                            <a class="search-toggle-btn" aria-label="Search toggle"><i class="fa fa-search"
                                    aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--main content-->
    <div class="content-block ">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-overlay">
                    <div class="page-item-title-single page-item-title-page">
                        <h1 class="page-title alcen">Связаться с нами</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-container container span-col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="entry-content clearfix" role="main">
                        <article>
                            <h2 style="text-align:center">Чем мы можем Вам помочь</h2>
                            <p style="text-align:center">Если Вы хотите связаться с нами, воспользуйтесь формой ниже</p>
                            <hr class="wp-block-separator">
                            <div role="form" class="wpcf7" id="wpcf7-f6-p318-o1" lang="en-US" dir="ltr">
                                <div class="screen-reader-response"></div>
                                <form action="/saxon/saxon-3/contact-us/#wpcf7-f6-p318-o1" method="post"
                                    class="wpcf7-form" novalidate="novalidate">
                                    <div style="display: none;">
                                        <input type="hidden" name="_wpcf7" value="6">
                                        <input type="hidden" name="_wpcf7_version" value="5.1">
                                        <input type="hidden" name="_wpcf7_locale" value="en_US">
                                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f6-p318-o1">
                                        <input type="hidden" name="_wpcf7_container_post" value="318">
                                        <input type="hidden" name="g-recaptcha-response" value="">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Ваше имя (обязательно)</label><br>
                                            <span class="wpcf7-form-control-wrap your-name"><input type="text"
                                                    name="your-name" value="" size="40"
                                                    class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                    aria-required="true" aria-invalid="false"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Ваш e-mail (обязательно)</label><br>
                                            <span class="wpcf7-form-control-wrap email-432"><input type="email"
                                                    name="email-432" value="" size="40"
                                                    class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-email"
                                                    aria-invalid="false"></span>
                                        </div>
                                        <div class="col-md-12">
                                            <label>Сообщение</label><br>
                                            <span class="wpcf7-form-control-wrap textarea-929"><textarea
                                                    name="textarea-929" cols="40" rows="10"
                                                    class="wpcf7-form-control wpcf7-textarea"
                                                    aria-invalid="false"></textarea></span>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="submit" value="Send message"
                                                class="wpcf7-form-control wpcf7-submit mgt-button btn"><span
                                                class="ajax-loader"></span>
                                        </div>
                                    </div>
                                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                                </form>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->
    <div class="footer-sidebar-2-wrapper footer-white">
        <div class="footer-sidebar-2 sidebar container footer-sidebar-2-container">
            <div class="footer-info">
                <div class="row">
                    <div class="site-info col-md-12">
                        Сетевое издание "Южная служба новостей" зарегистрировано Федеральной службой по надзору в сфере
                        связи,
                        информационных технологий и массовых коммуникаций (Роскомнадзор) 05.03. 2018 года.
                        Свидетельство о регистрации ЭЛ № ФС77-72411
                    </div>
                </div>
                <div class="last-row">
                    <div class="last-row__item last-row__menu">
                        <ul id="menu-top-menu-1" class="links bottom-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="#">О нас</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="#">Контакты</a>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                <a target="_blank" href="#">Конфиденциальность</a>
                            </li>
                            <li class="pull-right icon-email menu-item menu-item-type-custom menu-item-object-custom">
                                <a target="_blank" href="#">Подписка</a>
                            </li>
                        </ul>
                    </div>
                    <div class="last-row__item last-row__counter">
                        <div>
                            <img src="img/counter.png" alt="counter">
                        </div>
                    </div>
                    <div class="last-row__item last-row__social">
                        <div class="social-icons-wrapper">
                            <a href="#" target="_blank" class="a-vk"><i class="fa fa-vk"></i></a>
                            <a href="#" target="_blank" class="a-odnoklassniki"><i class="fa fa-odnoklassniki"></i></a>
                            <a href="#" target="_blank" class="a-facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" target="_blank" class="a-twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" target="_blank" class="a-instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="scroll-to-top btn alt" aria-label="Scroll to top" href="#top"></a>
    <div class="footer-wrapper">
    </div>
    <script type="text/javascript" src="js/aos.js"></script>
    <script type="text/javascript" src="js/cookies_ui.js"></script>
    <script type="text/javascript" src="js/script1.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            if (!catapultReadCookie("catAccCookies")) { // If the cookie has not been set then show the bar
                $("html").addClass("has-cookie-bar");
                $("html").addClass("cookie-bar-bottom-left-block");
                $("html").addClass("cookie-bar-block");
            }
        });
    </script>
    <div id="catapult-cookie-bar" class="">
        <span class="ctcc-left-side">Наш сайт использует cookies<a class="ctcc-more-info-link" tabindex=0
                target="_blank" href="privacy.html">Политика конфиденциальности</a></span>
        <span class="ctcc-right-side">
            <button id="catapultCookie" tabindex=0 onclick="catapultAcceptCookies();">Понял</button>
        </span>
    </div>
</body>

</html>