.protected {
    position: fixed;
    right: 7%;
    bottom: 5%;
    width: 100px;
    opacity: .2;
    transition: .25s;

    img {
        width: 100%;
    }

    &:hover {
        opacity: 1;
    }
}
.ce-block__content {
    max-width: 750px
}
.cdxcarousel-item img {
    height: 180px !important;
}
.cdxcarousel-block {
    width: 46%;
    margin: 10px;
}
