#catapult-cookie-bar {
    box-sizing: border-box;
    max-height: 0;
    opacity: 0;
    z-index: 99999;
    overflow: hidden;
    color: #ddd;
    position: fixed;
    left: 20px;
    bottom: 6%;
    width: 300px;
    background-color: #464646;
}

#catapult-cookie-bar a {
    color: #fff;
}


button#catapultCookie {
    border: 0;
    padding: 6px 9px;
    border-radius: 3px;
}

#catapult-cookie-bar h3 {
    color: #ddd;
}

.has-cookie-bar #catapult-cookie-bar {
    opacity: 1;
    max-height: 999px;
    min-height: 30px;
}
