.post-template-default {
    .post-categories a {
        background-color: #4dcf8f;
    }

    .container-page-item-title .page-item-title-single .saxon-post-single .saxon-post-details .post-title {
        color: #555;
        margin: 10px 0;

        &:hover {
            color: #555;
        }
    }

    .author-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center
    }

    .post-date {
        color: #999;
    }
}


.pagination > .disabled > span.page-link {
    border-color: transparent;
}

#autoComplete_list {
    position: relative;
}

.autoComplete_result {
    font-size: .9em;
}

header .search-toggle-wrapper.search-header:hover .searchform {
    width: 320px;
}

header .search-toggle-wrapper .field {
    width: 100%;
}

.page-item-title-search {
    padding: 10px 0
}

.saxon-overlay-alt-post.saxon-post .saxon-post-details {
    min-height: 0;
}

form .errors {
    padding: 10px 0;
    color: #b32727;
}

.field-error {
    color: #b32727;
    font-size: .9em;
    margin-top: 0px;
}

.comment-list {
    .comment-item {
        margin: 15px 0;
        border-bottom: 1px solid #eeeeee;
        .comment-wrapper {
            border-radius: 3px;
            padding: 10px 15px;
            //box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
            margin-bottom: 5px;
        }

        .comment-top {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            margin-bottom: 10px;
            color: rgba(0, 0, 0, .4);
        }

        .comment-middle {
            margin-bottom: 10px;
        }

        .comment-bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .date {
                font-size: .8em;
                color: #a7a7a7;
            }
            a {
                text-decoration: none;
            }
            .action-item {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                color: rgba(0,0,0,.5);
                .icon {
                    margin-right: 10px;
                    font-size: .9em;
                    color: rgba(0,0,0,.2);
                    transition: .25s;
                }
                &:hover {
                    color: rgba(0,0,0,1);
                    .icon {
                        color: rgba(0,0,0,.5);
                    }
                }
            }
        }
    }
}
